# Node.js
node_modules/

# Firebase 인증 파일 (비공개 키)
firebase_credentials.json

# 로그 파일
*.log

# 환경변수 파일 (dotenv 파일)
.env

# VS Code 설정
.vscode/

# 운영체제 관련 파일
.DS_Store
Thumbs.db

# Firebase 관련 파일 (실수로 push하지 않도록)
firebase-adminsdk-*.json

# 테스트 관련 (JUnit, Mocha 등)
test-results/

# 빌드 결과물
build/
dist/

# 기타
*.tgz
*.bak
*.swp

# gitignore에 zerothonmobile 폴더 추가
zerothonmobile/

